<div class="modal-header">
    <h3 class="modal-title">Editing Template for : [[nodePath]]</h3>
</div>
<div class="modal-body">
    <div ui-ace="{
      useWrapMode : true,
      theme:'idle_fingers',
      mode: 'html',
      onLoad: aceLoaded,
      advanced: {
        fontSize: 16
      }
    }" ng-model="templateHtml">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>