@import "bootstrap";

.editable-click, a.editable-click {
  color: inherit;
}
.document-title {
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
}
address {
  white-space: pre-wrap;
}