@import "bootstrap";

.editable-click,
a.editable-click {
  color: inherit;
}
span.editable-click {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
  &:hover {
    text-decoration: none;
    color: inherit;
    border-bottom: none;
  }
}
.document-title {
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
}
address {
  white-space: pre-wrap;
}

.ace_editor {
  min-height: 200px;
}