<h1 class="panel-title">
    <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-xs">
            <a ng-if="documentCtrl.editing == false" ng-click="documentCtrl.startEditing()" title="Edit document '[[documentCtrl.document.name]]'" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
            <a ng-if="documentCtrl.editing" ng-click="documentCtrl.stopEditing()" title="Cancel editing" class="btn btn-danger"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
    </div>
    Document - "[[documentCtrl.document.name]]"
</h1>
